.idea
.idea/*

**/.sass-cache
**/.sass-cache/*
tasks/node_modules
tasks/node_modules/*

vendor/tareq1988/wordpress-settings-api-class/example
vendor/tareq1988/wordpress-settings-api-class/example/*

vendor/webdevstudios/cmb2/languages
vendor/webdevstudios/cmb2/tests
vendor/webdevstudios/cmb2/*.clover
!vendor/webdevstudios/cmb2/languages/*.pot

vendor/twig/twig/test
vendor/twig/twig/doc
vendor/timber/timber/tests
vendor/timber/timber/docs

**/*.log